.boxed-block, .post-149 .et_pb_row.et_pb_row_0,
.post-41 .et_pb_row.et_pb_row_0, .post-249 .et_pb_row.et_pb_row_1 {
  background-color: #E8E8E8;
  padding-bottom: 0;
  border: 1px solid #E8E8E8;
}

.boxed-block-elements h3, .post-149 h3,
.post-41 h3, .post-249 .et_pb_row.et_pb_row_1 h3,
.boxed-block-elements p, .post-149 p,
.post-41 p, .post-249 .et_pb_row.et_pb_row_1 p,
.boxed-block-elements ul, .post-149 ul,
.post-41 ul, .post-249 .et_pb_row.et_pb_row_1 ul,
.boxed-block-elements ol, .post-149 ol,
.post-41 ol, .post-249 .et_pb_row.et_pb_row_1 ol {
  background-color: #fff;
  padding: 30px 30px 0 30px;
}

.boxed-block-elements h1, .post-149 h1,
.post-41 h1, .post-249 .et_pb_row.et_pb_row_1 h1 {
  padding-left: 30px;
}

@media (min-width: 1024px) {
  footer#main-footer .container {
    max-width: 1410px !important;
    width: 100% !important;
  }
  div#text-4 {
    float: right !important;
  }
  ul#menu-footer-menu {
    text-align: center;
  }
  div#et-footer-nav {
    width: 50%;
    float: right;
    background-color: #252936;
  }
  #footer-bottom {
    width: 50%;
    float: left;
  }
  .bottom-nav li {
    border-right: 1px solid #fff;
    line-height: 17px;
    padding-right: 6px !important;
    font-weight: 500 !important;
  }
  .bottom-nav li:last-child {
    border: none;
  }
}

.entry-content li {
  margin-left: 20px;
}

.text-color {
  color: #8BB009;
}

div#gf_progressbar_wrapper_1 {
  display: none;
}

.font-edit h3 {
  color: black !important;
}

p:last-of-type {
  padding-bottom: 30px;
}

img.alignnone.size-full.wp-image-337 {
  max-height: 230px;
  width: auto;
}

div#footer-widgets {
  padding: 30px;
}

.footer-widget {
  padding: 0;
  margin-bottom: 0 !important;
}

.footer-widget #text-2 > a {
  text-decoration: underline !important;
  font-size: 12px;
}

#main-footer .footer-widget h4 {
  font-weight: 700;
  font-size: 16px;
}

.bold-underline {
  width: 100px;
  height: 5px;
  background-color: #8CAF24;
  margin: 0 auto;
  margin-top: -20px;
}

.green {
  color: #8CAF24;
}

.yellow {
  color: #FDC342;
}

.bg-dark-gray {
  background-color: #252936;
}

.bold {
  font-weight: 700;
}

.italics {
  font-style: italic;
}

.et_pb_toggle_title:before {
  content: "\4c";
  font-weight: 700 !important;
  margin-right: 18px;
  font-size: 25px;
}

.post-249 h1,
.post-249 h2 {
  padding-left: 0 !important;
}

.post-249 img {
  border: 7px solid #E8E8E8;
}

.post-249 span.et_pb_image_wrap {
  margin-top: 100px;
}

.post-249 .gfield {
  padding-left: 30px;
}

.post-249 label {
  font-size: 15px !important;
  font-weight: 600;
}

.post-249 input {
  min-height: 40px;
  border-radius: 5px;
  border-color: #ccc !important;
  padding: 10px !important;
}

.post-249 ul#gform_fields_1 {
  padding: 0;
}

.post-249 li#field_1_37,
.post-249 li#field_1_38 {
  margin-top: 50px !important;
  padding: 30px;
  font-size: 20px;
  margin-right: 0;
}

.post-249 li#field_1_37 h2.gsection_title,
.post-249 li#field_1_38 h2.gsection_title {
  font-weight: 400 !important;
  color: #444444;
}

.post-249 h3.gform_title {
  display: none;
}

.post-249 .gform_page_footer {
  border-top: 0;
  padding: 20px !important;
  background-color: #fff;
  margin-bottom: -16px !important;
  margin-top: -20px;
}

.post-249 input#gform_next_button_1_25 {
  border-radius: 30px;
  padding: 10px 60px !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  background-color: #8CAF24;
}

.post-249 .et_pb_row.et_pb_row_1 {
  padding-top: 0;
}

.post-249 li#field_1_40 {
  padding: 20px;
}

.post-249 li#field_1_40 h2 {
  color: #606060;
  font-weight: 100;
}

.post-249 select#input_1_2 {
  padding: 10px !important;
  height: 40px !important;
}

.post-249 li#field_1_24 {
  padding-bottom: 30px;
}

.post-249 .et_pb_row.et_pb_row_0.et_pb_equal_columns.et_pb_row_fullwidth {
  padding: 0;
}

.post-249 li#field_1_37 {
  margin-right: 0;
}

.post-249 li#field_1_41 {
  width: 250px;
  position: absolute;
  right: 10px;
  top: 50px;
}

.post-249 span.focus-jfilestyle > label {
  border-radius: 28px;
  padding: 15px 50px;
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: 700;
  background-color: #606060;
  color: #fff;
}

.post-249 li#field_1_5 {
  padding-top: 15px;
}

.post-249 li#field_1_5 > label {
  display: none;
}

@media (max-width: 600px) {
  .post-249 li#field_1_40, .post-249 li#field_1_1 {
    width: 60%;
  }
  .post-249 li#field_1_41 {
    position: initial;
  }
  .post-249 .gfield {
    padding-left: 5px;
    padding-right: 5px;
  }
}

li#menu-item-334, li#menu-item-284, li#menu-item-285 {
  float: left;
  padding-right: 20px;
}

@media (max-width: 600px) {
  .et_pb_slide_0 .et_pb_slide_description h2 {
    font-size: 27px !important;
    line-height: 33px;
  }
  #post-39 .et_pb_slide .et_pb_container {
    height: auto !important;
  }
  #post-39 .et_pb_slide b {
    font-size: 20px;
  }
  #post-39 .et_pb_text_1 h1 {
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
  }
  #post-39 .et_pb_slide_content p {
    font-size: 18px !important;
  }
}
