.boxed-block,
.post-149 .et_pb_row.et_pb_row_0,
.post-41 .et_pb_row.et_pb_row_0,
.post-249 .et_pb_row.et_pb_row_1 {
	background-color: #e8e8e8;
	padding-bottom: 0;
	border: 1px solid #e8e8e8;
}

.text-color {
	color: #8bb009;
}

.post-149 h3 {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.best-rates-inner span {
	color: #252936;
	font-size: 34px;
	position: relative;
	top: 14px;
}

.post-149 p {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.post-149 ul {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.post-149 ol {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.post-149 h1 {
	padding-left: 30px;
}

.post-41 h3 {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.post-41 p {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.post-41 ul {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.post-41 ol {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.post-41 h1 {
	padding-left: 30px;
}

.post-249 .et_pb_row.et_pb_row_1 {
	padding-top: 0;
}

.post-249 .et_pb_row.et_pb_row_1 h3 {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.post-249 .et_pb_row.et_pb_row_1 p {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.post-249 .et_pb_row.et_pb_row_1 ul {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.post-249 .et_pb_row.et_pb_row_1 ol {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.post-249 .et_pb_row.et_pb_row_1 h1 {
	padding-left: 30px;
}

.post-249 .et_pb_row.et_pb_row_0.et_pb_equal_columns.et_pb_row_fullwidth {
	padding: 0;
}

.post-249 h1 {
	padding-left: 0 !important;
}

.post-249 h2 {
	padding-left: 0 !important;
}

.post-249 img {
	border: 7px solid #e8e8e8;
}

.post-249 span.et_pb_image_wrap {
	margin-top: 100px;
}

.post-249 span.focus-jfilestyle>label {
	border-radius: 28px;
	padding: 15px 50px;
	text-transform: uppercase;
	font-size: 12px !important;
	font-weight: 700;
	background-color: #606060;
	color: #fff;
}

.post-249 .gfield {
	padding-left: 30px;
}

.post-249 label {
	font-size: 15px !important;
	font-weight: 600;
}

.post-249 input {
	min-height: 40px;
	border-radius: 5px;
	border-color: #ccc !important;
	padding: 10px !important;
}

.post-249 input#gform_next_button_1_25 {
	border-radius: 30px;
	padding: 10px 60px !important;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	background-color: #8caf24;
}

.post-249 li#field_1_37 {
	margin-top: 50px !important;
	padding: 30px;
	font-size: 20px;
	margin-right: 0;
	margin-right: 0;
}

.post-249 li#field_1_37 h2.gsection_title {
	font-weight: 400 !important;
	color: #444444;
}

.post-249 li#field_1_38 {
	margin-top: 50px !important;
	padding: 30px;
	font-size: 20px;
	margin-right: 0;
}

.post-249 li#field_1_38 h2.gsection_title {
	font-weight: 400 !important;
	color: #444444;
}

.post-249 li#field_1_40 {
	padding: 20px;
}

.post-249 li#field_1_40 h2 {
	color: #606060;
	font-weight: 100;
}

.post-249 li#field_1_24 {
	padding-bottom: 0px;
}

.post-249 li#field_1_41 {
	width: 250px;
	position: absolute;
	right: 10px;
	top: 50px;
}

.post-249 li#field_1_5 {
	padding-top: 15px;
}

.post-249 li#field_1_5>label {
	display: none;
}

.post-249 .gform_page_footer {
	border-top: 0;
	padding: 20px !important;
	background-color: #fff;
	margin-bottom: -16px !important;
	margin-top: -20px;
}

.post-249 ul#gform_fields_1 {
	padding: 0;
}

.post-249 h3.gform_title {
	display: none;
}

.post-249 select#input_1_2 {
	padding: 10px !important;
	height: 40px !important;
}

.boxed-block-elements h3 {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.boxed-block-elements p {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.boxed-block-elements ul {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.boxed-block-elements ol {
	background-color: #fff;
	padding: 30px 30px 0 30px;
}

.boxed-block-elements h1 {
	padding-left: 30px;
}

@media (min-width: 1024px) {
	div#text-4 {
		float: right !important;
	}
	div#et-footer-nav {
		width: 50%;
		float: right;
		background-color: #252936;
	}
	#footer-bottom {
		width: 50%;
		float: left;
	}
	.bottom-nav li {
		border-right: 1px solid #fff;
		line-height: 17px;
		padding-right: 6px !important;
		font-weight: 500 !important;
	}
	.bottom-nav li:nth-child(3) {
		border: none;
	}
	.bottom-nav li:last-child {
		border: none;
	}
	footer#main-footer .container {
		width: 94% !important;
		max-width: 94% !important;
	}
	ul#menu-footer-menu {
		text-align: center;
	}
}

div#gf_progressbar_wrapper_1 {
	display: none;
}

div#footer-widgets {
	padding: 30px 0;
}

img.progress-img {
	border: none;
	max-width: 70%;
}

img.alignnone.size-full.wp-image-337 {
	max-height: 230px;
	width: auto;
}

img.menu-image.menu-image-title-hide {
	width: 130px;
}

.footer-widget {
	padding: 0;
	margin-bottom: 0 !important;
}

.footer-widget #text-2>a {
	text-decoration: underline !important;
	font-size: 12px;
}

.bold-underline {
	width: 100px;
	height: 5px;
	background-color: #8caf24;
	margin: 0 auto;
	margin-top: -20px;
}

.green {
	color: #8caf24;
}

.yellow {
	color: #fdc342;
}

.bg-dark-gray {
	background-color: #252936;
}

.bold {
	font-weight: 700;
}

.italics {
	font-style: italic;
}

@media (max-width: 600px) {
	.post-249 i.fas.fa-search.zoom-icon {
		top: 500px !important;
		left: 30% !important;
	}
	.post-249 li#field_1_40 {
		width: 100%;
	}
	.post-249 li#field_1_1 {
		width: 100%;
	}
	.post-249 li#field_1_41 {
		position: initial;
	}
	.post-249 .gfield {
		padding-left: 5px;
		padding-right: 5px;
	}
	li#menu-item-334 {
		float: left;
		padding-right: 20px;
	}
	li#menu-item-284 {
		float: left;
		padding-right: 20px;
	}
	li#menu-item-285 {
		float: left;
		padding-right: 20px;
	}
	#post-39 .et_pb_slide .et_pb_container {
		height: auto !important;
	}
	#post-39 .et_pb_slide b {
		font-size: 20px;
	}
	#post-39 .et_pb_text_1 h1 {
		font-weight: 600;
		font-size: 29px;
		line-height: 35px;
	}
	#post-39 .et_pb_slide_content p {
		font-size: 18px !important;
	}
	.et_pb_slide_0 .et_pb_slide_description h2 {
		font-size: 27px !important;
		line-height: 33px;
	}
}

.fab {
	background: #fff;
	color: black;
	padding: 7px 8px 8px 8px !important;
	font-size: 20px !important;
	height: 43px;
	width: 46px;
	line-height: 19px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	border: 4px solid #ececec;
}

span.zoom-info {
	font-size: 12px;
	line-height: 10px;
}

span.blue {
	color: #8caf24;
	font-weight: bold;
	font-size: 16px;
}

.entry-content li {
	margin-left: 20px;
}

.font-edit h3 {
	color: black !important;
}

p:last-of-type {
	padding-bottom: 30px;
}

#main-footer .footer-widget h4 {
	font-weight: 700;
	font-size: 16px;
}

.et_pb_toggle_title:before {
	content: "\4c";
	font-weight: 700 !important;
	margin-right: 0px;
	font-size: 21px;
}

.et_pb_section.et_pb_section_0.et_section_regular {
	text-align: center;
}

i.fas.fa-search.zoom-icon {
	font-size: 60px;
	color: #888;
	position: absolute;
	top: 40%;
	left: 40%;
	line-height: 10px;
}

.edison-rate {
	width: 50%;
	float: left;
	border: 1px solid;
	text-align: center;
	padding: 0 0 30px 0;
	position: absolute;
	top: 30px;
	left: 20px;
	background: #fff;
	box-shadow: 2px 2px 10px #2a372d;
}

.edison-rate-content {
	padding: 30px 0 0;
	background: #fff;
}

.edison-rate-content em {
	font-size: 22px;
	position: relative;
	top: 20px;
}

.edison-rate-content lable {
	color: #606060;
	font-size: 48px;
	font-weight: 600;
}

.edison-rate-content span {
	font-size: 34px;
	position: relative;
	top: -20px;
	left: 2px;
}

.edison-rate-content p {
	color: #606060;
	font-size: 26px;
	margin: 0;
	padding: 5px;
}

.edison-rate-inner {
	background: #e2e2e2;
}

.edison-rate-inner h1 {
	font-weight: normal;
	font-style: italic;
	padding: 20px 0;
}

.energy-rate-inner {
	background: #E6AE39;
	padding: 13px 0;
	font-style: italic;
}

.energy-rate-inner h1 {
	font-style: italic;
	margin-top: 5px;
}

.best-rates {
	background-color: #E6AE39;
	padding: 20px 25px;
	width: 85%;
	float: right;
	overflow: hidden;
	position: relative;
	box-shadow: 2px 2px 10px #2a372d;
}

.best-rates .corner-ribbon.top-right.sticky.blue {
	font-size: inherit;
	float: right;
	position: absolute;
	left: 73%;
	top: 28px;
	font-size: 13px;
}

.best-rates-inner h1 {
	color: #252936;
	font-size: 50px;
	font-weight: 600;
	float: left;
}

.best-rates-inner lable {
	font-size: 36px;
	color: #252936;
	position: relative;
	top: 15px;
}

.best-rates-inner h2 {
	width: 100%;
	float: left;
	line-height: 34px;
	position: relative;
	top: 8px;
}

.best-rates-inner button {
	background: #252936;
	border: 1px solid;
	color: #fff;
	padding: 10px 29px;
	border-radius: 22px;
	margin: -15px 0 16px;
	font-size: 18px;
	position: relative;
	top: 40px;
}

.best-rates-inner button a {
	color: #fff !important;
}

.btnCustomSubmit {
	background: #252936;
	border: 1px solid;
	color: #fff;
	padding: 10px 29px;
	border-radius: 22px;
	font-size: 18px;
}

.energy-rate-content a {
	font-size: 20px;
	padding: 8px 28px !important;
}

.energy-rate-content lable {
	color: #252936;
	font-size: 60px;
	font-weight: 600;
	position: relative;
	top: 26px;
}

.energy-rate-content p {
	display: inline-block;
	width: 100%;
	font-size: 30px;
	color: #606060;
	padding: 20px 0 0;
}

.energy-rate-content em {
	display: inline-block;
	font-style: normal;
	line-height: 30px;
	font-size: 20px;
	padding: 0 45px;
}

.energy-rate-content button {
	background: #252936;
	border: 1px solid;
	color: #fff;
	padding: 10px 29px;
	border-radius: 22px;
	margin: 0;
	font-size: 18px;
	position: relative;
	top: 40px;
}

.energy-rate-content button a {
	color: #fff;
}

.energy-rate {
	padding: 0 0 40px 0;
	overflow: hidden;
	box-shadow: 2px 2px 10px #2a372d;
	text-align: center;
	border: 1px solid;
	padding: 0 0 65px 0;
	background: #fff;
	width: 66%;
	position: relative;
	z-index: 999;
	margin: -80px 0 0 310px;
}

.corner-ribbon {
	width: 175px;
	background: #e83645;
	position: absolute;
	top: 32px;
	right: -37px;
	text-align: center;
	line-height: 30px;
	color: #f0f0f0;
	transform: rotate(45deg);
	overflow: hidden;
	height: 30px;
	font-size: 14px;
	font-weight: 600;
}

.corner-ribbon.shadow {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
	.utility-energy {
		top: -200px;
		margin-bottom: 300px;
	}
	.edison-rate {
		top: 30px;
		left: 8%;
		width: 250px;
	}
	#faq-sec {
		margin-top: 360px;
	}
	.energy-rate {
		width: 95%;
		margin: 460px 0 0;
		left: 17% !important;
		padding: 0 0 10px 0;
		top: 250px;
	}
	.best-rates {
		width: 100%;
	}
	.best-rates .corner-ribbon.top-right.sticky.blue {
		left: 58%;
	}
	.best-rates-inner h1 {
		font-size: 36px;
	}
	.best-rates-inner lable {
		top: 6px;
	}
	.corner-ribbon {
		width: 175px;
		background: #e83645;
		position: absolute;
		top: 22px;
		left: 60%;
		font-size: 12px;
	}
	.corner-ribbon.top-right.sticky.blue span {
		font-size: 12px;
	}
	.energy-rate-content em {
		padding: 0 5px;
		font-size: 20px;
	}
	#et-footer-nav {
		background-color: #383838;
	}
	h5.et_pb_toggle_title {
		font-size: 16px !important;
	}
	.et_pb_toggle_content p {
		font-size: 15px !important;
	}
	.post-543 .et_pb_section.et_pb_section_0.et_section_regular,
	.post-249 .et_pb_section.et_pb_section_0.et_section_regular {
		padding: 0;
	}
	.post-543 .et_pb_section.et_pb_section_0.et_section_regular,
	.post-249 .et_pb_section.et_pb_section_0.et_section_regular {
		padding: 20px 0 20px 0;
	}
}

.textwidget h4 {
	display: none;
}

a.btn.btn-primary {
	display: inline-block;
	padding: 7px 30px;
	background: #252936;
	border-radius: 30px;
	margin-top: 20px;
	color: #fff !important;
}

span.gfield_required {
	display: none;
}

.gform_page_footer.top_label {
	padding: 50px 0 20px 50px !important;
}

.gform_page_footer.top_label .button {
	text-transform: uppercase;
	font-size: 12px !important;
	width: 150px !important;
	cursor: pointer;
}

.fab {
	width: 37px;
	height: 34px;
	font-size: 13px !important;
}

.fab a {
	width: 40px;
	height: 40px;
	margin-top: -25px;
	margin-left: -10px;
}

.partial_entry_warning {
	display: none;
}

i.fas.fa-quote-left {
	position: absolute;
	margin-top: -41px;
	font-size: 40px;
	margin-left: -237px;
}

i.fas.fa-quote-right {
	position: absolute;
	margin-top: 34px;
	font-size: 40px;
	margin-left: 192px;
}

ul#menu-footer-menu {
	text-align: right;
}

.faq-border {
	border: 2px solid;
	padding: 14px;
	border-radius: 12px;
}

.et_pb_slide_content {
	padding-top: 65px;
}

@media (max-width: 767px) {
	header#main-header {
		position: fixed !important;
	}
	.et-fixed-header {
		top: 0px !important;
	}
}

.et-pb-controllers a {
	width: 12px !important;
	height: 12px !important;
}

@media (max-width: 767px) {
	.utility-energy {
		top: -328px;
	}
}

#footer-bottom,
#et-footer-nav {
	height: 85px;
}

span.text {
	color: #8bb009;
	font-size: 33px;
}

.energy-rate {
	left: -60px;
}

// Homepage
.page-id-39 {
	#footer-widgets {
		display: none;
	}
	.et_pb_section.et_pb_section_3 {
		padding: 0;
		margin: 0;
		height: 0;
	}
	.et_pb_section_2 .et_pb_text_1 {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.utility-energy {
	margin-top: -576px;
	margin-left: -57px;
}

.footer-widget .textwidget h4 {
	display: block;
}

.chatbutton {
	position: fixed;
	right: 0;
	bottom: 30px;
	display: block;
	z-index: 11;
}

@media (min-width:1200px) and (max-width: 1450px) {
	.utility-energy {
		margin-top: -535px
	}
	.edison-rate {
		left: -60px;
		top: 80px;
	}
}

@media (min-width:1451px) and (max-width: 1601px) {
	.edison-rate {
		left: -15%;
	}
}

//CLIENT RESOLUTION //MUST KEEP THIS AT THE END OF FILE
@media (max-width: 2100px) and (min-width:1650px) {
	.edison-rate {
		left: -20%;
		top: 20%;
	}
	.energy-rate {
		left: -30;
	}
	.utility-energy {
		margin-top: -500px;
		margin-left: -57px;
	}
}